extends ../main.layout.pug

block variables
  - var title = 'Блог'
  - var headerTitle = 'БЛОГ'
  - var headerSubtitle = 'Статьи, которые я написал'
  - var triangleColor = "#faf8f0"

block scripts
  script(src='blog.bundle.js')

block content
  +header(headerTitle, headerSubtitle)

  div#posts-container

