include ../common/_mixins

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | Welcome page
    link(rel="stylesheet", href="main.min.css")
  body
    .wrapper.welcome-page
      .authorize-btn.welcome-page__authorize
        a.authorize-btn__link(href="#") Авторизоваться
      .welcome-board.welcome-page__board
        .site-card.welcome-board__site-card
          +image('photo.png', 'Фотография', 'site-card__photo')
          .site-card__name Владимир Астахов
          .site-card__title Личный сайт веб-разработчика
        .welcome-board__social.social
          ul.social__list.social__list--welcome 
            li.social__item.social__item--welcome
              a.social__link(href="#")
                +icon('vk', 'social__icon')
            li.social__item.social__item--welcome 
              a.social__link(href="#")
                +icon('github', 'social__icon')
            li.social__item.social__item--welcome 
              a.social__link(href="#")
                +icon('in', 'social__icon')
        nav.nav.nav--welcome
           ul.nav__list.nav__list--welcome
            li.nav__item.nav__item--welcome
              a.nav__link(href="#") Мои работы
            li.nav__item.nav__item--welcome
              a.nav__link(href="#") Обо мне
            li.nav__item.nav__item--welcome
              a.nav__link(href="#") Блог



      .footer.footer--welcome
        span.footer__text &copy; Владимир Астахов | создано с любовью в LoftSchool | 2018