extends ../welcome.layout.pug

block variables
  - var title = 'Привет!';
  -
    var page_links = [
      ['Мои работы', 'works.html'],
      ['Обо мне', 'about.html'],
      ['Блог', 'blog.html']
    ]

block content
  .welcome

    video.video(autoplay loop)
      source(src="./assets/media/night.mp4", type="video/mp4").source#bg-video

    .mountains
      +image('mountains-min.png', 'Горы', 'mountains__img')

    .authorize-btn.welcome__authorize
      a.authorize-btn__link(href="login.html") Авторизоваться
    
    .backface-container
      //- Плашка с двумя сторонами    
      .backface
        //- Лицевая сторона - информация о сайте
        .welcome-board.front
          .welcome-board__content
            .site-card
              +image('content/author.jpg', 'Фото автора сайта', 'site-card__photo')
              .site-card__name Андрей Попов
              .site-card__title Личный сайт веб-разработчика

            .social.welcome-board__social
              - 
                var socials = [
                  ['vk', 'http://vk.com'],
                  ['github', 'http://github.com'],
                  ['in', 'http://linkedin.com']
                ]
              +socialIcons('social__icon--blue')

            nav.nav.nav--welcome
              ul.nav__list.nav__list
                each item in page_links
                  li.nav__item.nav__item--welcome
                    a.nav__link(href=`${item[1]}`) #{item[0]}

        //- Тыльная сторона - форма авторизации
        .welcome-board.back
          h1.login__title Авторизуйтесь
          form(action="authorize.php" @submit.prevent="submit").login-form.login__form#auth-form
            .login-form__input-wrap
              .input
                input(type="text" name="login" placeholder="Логин" id="login" v-model="formData.login" @focus="loginFocus" @blur="loginBlur").login-form__input
                .input__icon
                  svg(class="input__icon-img" id="icon-login")
                    use(xlink:href="/assets/images/icons/sprite.svg#login")
                .login-form__hint
                  .hint--error(v-if="invalidLogin")
                    span.hint__text {{hintText.loginError}}
              .input
                input(type="text" name="password" placeholder="Пароль" id="password" v-model="formData.password"  @focus="passwordFocus" @blur="passwordBlur").login-form__input
                .input__icon
                  svg(class="input__icon-img" id="icon-password")
                    use(xlink:href="/assets/images/icons/sprite.svg#password")
                .login-form__hint
                  .hint--error(v-if="invalidPassword")
                    span.hint__text {{hintText.passwordError}}
              
              .login-form__is-human
                input(type="checkbox" name="is-human" id="is-human" v-model="formData.isHuman").login-form__checkbox-human
                label(for="is-human").login-form__label-human Я человек
              
              .login-form__text Вы точно не робот?

              .login-form__human-confirm
                .login-form__trigger
                  input(type="radio" id="human-yes" name="human-confirm" value="human-yes" checked v-model="formData.humanConfirm").login-form__radio
                  label(for="human-yes").login-form__label-confirm Да
                .login-form__trigger
                  input(type="radio" id="human-no" name="human-confirm" value="human-no" v-model="formData.humanConfirm").login-form__radio
                  label(for="human-no").login-form__label-confirm Не уверен
            .login-form__buttons
              a(href="" id="mainpage-link").login-form__btn На главную
              button(type="submit").login-form__btn Войти
                //- a(href="").login-form__btn Войти



    //- Нарушаем БЭМ - позиционируем блок .footer-bottom, но он на всех страницах расположен одинаково (в самом низу)
    .footer-bottom.footer-bottom--welcome 
      +copyrightInfo

