extends ../main.layout.pug

block variables
  - var title = 'Мои Работы'
  

block scripts
  script(src='works.bundle.js')
  
block content
  include ../common/hero.pug

  .section-title
    .section-title__triangles
      +section-triangles("#faf8f0", "#faf8f0")
    .section-title__head
      +title('Мои работы', 'portfolio_header')


  .slider-container
    #slider-component

  section.reviews#reviews-section
    .container.reviews_container
      .reviews__title
        +title('Что обо мне говорят', 'about_header')
      ul.reviews__list
        each item in [1, 2]
          li.reviews__item
            .reviews__text.text-block
              p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .reviews__author
              .reviews__avatar
                .reviews__avatar-pic
                  +image('content/user.jpg', 'review author', 'reviews__avatar-image')
              .reviews__author-data
                .reviews__name Ковальчук Дмитрий
                .reviews__occ основатель Loftschool
      .reviews__form-container
        form.modal-form.modal-form_blured#blurred-form
          .modal-form__bg
          .modal-form__title
            .subtitle Связаться со мной
          .modal-form__container
            input(type="text" placeholder="Имя").modal-form__input
            input(type="text" placeholder="Email").modal-form__input
            textarea(placeholder="Ваше сообщение").modal-form__input.modal-form__input_textarea
          .modal-form__buttons
            button.modal-form__button Отправить
            button.modal-form__button Очистить