.preloader
  .preloader__spinner
    svg(width="100%" height="100%" viewBox="0 0 110 110" preserveAspectRatio="none").preloader__circle-small
      circle(cx="50" cy="50" r="5")
  .preloader__img
    svg(width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none").preloader__circle
      circle(cx="50" cy="50" r="40")
  .loader
    span#load-percent 0%
