script(type="text/x-template")#skills-list
  ul.skills-list
    li.skills-list__item.skills-row(v-for="skill in skills")
      skillsRow(
        :skill="skill"
      )


script(type="text/x-template")#skills-row
  .skills-row__title {{skill.skillsGroup}}
    ul.skills-row__list
      li.skills-row__item(v-for="(skillPercent, skillName) in skill.skills")
        skill(
          :skillName = "skillName",
          :skillPercent = "skillPercent"
        )


script(type="text/x-template")#skill
  figure(data-percents="70").skill
    .svg-envelope
      svg(width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none").skill__figure
        circle(cx="50" cy="50" r="40").skill__circle
        circle(cx="50" cy="50" r="40" ref="color-circle").skill__circle.skill__circle--above
    .skill__title {{skillName}}
