.footer-container
  footer.footer
    .footer__row.footer__row_top
      .container.footer__container
        .footer__col-left
          ul.footer-menu
            each item in ['Мои работы', 'Обо мне', "Блок", "Авторизация"]
              li.footer-menu__item
                a(href="#" class="footer-menu__link") #{item}
        .footer__col-right
          .footer__socials
            +socials('socials_rounded')
    .footer__row
      .container.footer__container
        .footer__col-left
          .footer__text 
            | Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footer__col-right
          .footer__text
            | © Владимир Астахов | создано с любовью в LoftSchool | 2016