include ./common/_mixins

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | welcome page
    link(rel="stylesheet", href="main.min.css")
  body
    .preloader.active#preloader 
      .preloader__animation
        svg.preloader__circles
          circle(cx="56" cy="56" r="50" width='100' height='100').preloader__circle.preloader__circle_back
          circle(cx="56" cy="56" r="40").preloader__circle.preloader__circle_middle
          circle(cx="56" cy="56" r="30").preloader__circle.preloader__circle_front
          text(text-anchor="middle"  x="58" y="60").preloader__text 0%
    
    block content

    

    script(src="./vendor.bundle.js")
    script(src="./auth.bundle.js")