include ./common/_mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    
    title Portfolio | #{title}
    link(rel='stylesheet' href='main.min.css')
  body
    .preloader
      .preloader__img
      .loader
        span#load-percent 0%

    .wrapper
      .maincontent
        block content
        
        include ./common/footer.pug

      include ./common/fullscreen-menu.pug

    include ./components/entry.pug

    script(src='bootloader.bundle.js')
    script(src='vendor.bundle.js')
    script(src='main.bundle.js')

    block scripts
