@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

@font-face {
  font-family: 'bernier';
  src: url('/assets/fonts/bernierregular-regular-webfont.woff') format('woff'), 
  url('/assets/fonts/bernierregular-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@mixin bernier() {
  font-family: 'bernier', Times, serif;
}

@mixin roboto($style: 'regular') {
  font-family: 'Roboto', Helvetica, sans-serif;

  @if $style=='regular' {
    font-weight: 400;
  }
  @if $style=='light' {
    font-weight: 300;
  }
  @if $style=='medium' {
    font-weight: 500;
  }
  @if $style=='bold' {
    font-weight: 700
  }
}