// resolutions
$desktops: 1800Px;
$desktops-small: 1200Px;
$tablets: 768Px;
$phones: 320Px;

@mixin block-center-absolute {
  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin circle($width, $color) {
  width           : $width;
  height          : $width;
  border-radius   : $width/2;
  background-color: $color;
}

@mixin round($width, $color) {
  border       : 1px solid $color;
  width        : $width;
  height       : $width;
  border-radius: $width/2;
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}

// @mixin tablets--big{
//   @media screen and (max-width: 920px){
//       @content;
//   }
// }

