script(type="text/x-template")#skills-list
  ul.skills-list
    li.skills-list__item(v-for="skill in skills")
      skills-row(:skills="skill")

script(type="text/x-template")#skills-row
  .skllls-row
    .skills-list__title {{skills.skillsGroup}}
    ul.skills
      li.skills-list__item(v-for="(skillPercents, skillName) in skills.skills")
        skill(
          :skillName="skillName"
          :skillPercents="skillPercents"
        )

script(type="text/x-template")#skill
  .skill
    svg(viewBox="0 0 100 100" preserveAspectRatio="none").skill__figure
      circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
      circle(cx="50" cy="50" r="40" ref="color-circle").skill__circle.skill__circle_above
    .skill__title {{skillName}}