script(type="text/x-template")#slider
  .slider
    info(:work="currentWork")
    display(:work="currentWork")
    buttons(
      :works="works" 
      :currentIndex="currentIndex"
      @slide="handleSlide"
    )

script(type="text/x-template")#slider-info
  .slider__info-container
    .slider__info
      .slider__info-title
        .subtitle {{work.title}}
      .slider__info-skills {{work.skills}}
      .slider__info-button
        a(href="").iconed-button
          .iconed-button__icon
            i.fa.fa-link
          .iconed-button__text Посмотреть сайт  

script(type="text/x-template")#slider-display
  .slider__display
    img(:src="work.photo", alt="").slider__big-pic

script(type="text/x-template")#slider-btn
  .slider__buttons
    .slider__button(@click="slide('prev')")
      img(:src="prevBtnArr[currentIndex].photo", alt="").slider__button-pic
    .slider__button.slider__button_next(@click="slide('next')")
      img(:src="nextBtnArr[currentIndex].photo", alt="").slider__button-pic
