$white: #efeee9;
$beige: #eeebdf;
$green: #16c2aa;
$text-color: #455a64;
$grey: #373e42;
$light-grey: #dfdcd5;

@import 'normalize.css';
@import './layout/fonts.scss';
@import './layout/base.scss';

@import './icons/_sass-inline-svg.scss';
@import './icons/_sass-inline-svg-data.scss';

@import './blocks/**/*';