.about {
  display   : flex;
  margin-top: -20vh;

  &__left {
    width           : 50%;
    display         : flex;
    background-color: $bgabout-left;
    padding-right   : 20px;
    padding-top     : 10px;
  }

  &__right {
    width           : 50%;
    background-color: $bgabout-right;
    padding-left    : 30px;
    padding-top     : 10px;
  }

  &__right-description {
    margin-bottom: 50px;
  }

  &__left-title {
    text-align: center;
    width     : 50%;
    position  : relative;
  }
  
  &__left-content {
    width: 50%;
  }  

  &__title-with-stars {
    position: relative;
    z-index : 0;

    &:before {
      content         : "";
      width           : 260px;
      height          : 170px;
      position        : absolute;
      left            : 50%;
      top             : -50px;
      transform       : translateX(-50%) rotate(180deg);
      background      : url(assets/images/bg/stars2.svg) center no-repeat;
      background-size : contain;
      background-color: transparent;
      z-index         : -1;
    }
  }
}




