.about {
  display: flex;
  // padding-top: 10px;
}

.about__left {
  width           : 50%;
  display         : flex;
  background-color: $bgabout-left;
  padding-right   : 20px;
  padding-top     : 10px;
}

.about__right {
  width           : 50%;
  background-color: $bgabout-right;
  padding-left    : 30px;
  padding-top     : 10px;
}

.about__triangle {
  display : block;
  position: absolute;
  top     : -150px;
  width   : 50%;
  height  : 150px;
}

.about__triangle--left {
  left: 0;
}

.about__triangle--right {
  right    : 0;
  transform: scaleX(-1);
}

.about__right-description {
  margin-bottom: 50px;
}

.about__left-title {
  text-align: center;
  width     : 50%;
}

.about__left-content {
  width: 50%;
}