.articles__title {

  &--small {
    color         : $blog-color;
    font-family   : Roboto;
    font-size     : 16px;
    font-weight   : 400;
    padding-top   : 10px;
    padding-bottom: 10px;
    padding-right : 20px;

    @include tablets {
      color: rgba(#fff, 0.7);
    }
  }
  
  &--active {
    color       : $dark-blue;
    font-weight : 700;
    border-right: 3px solid $light-blue;

    @include tablets {
      color: #fff;
      border-right: none;
    }
  }
  
  &--large {
    color        : $text-color;
    font-family  : Sansus;
    font-size    : 35px;
    font-weight  : 400;
    margin-bottom: 15px;
  }
}

.articles {
  
  // Отодвигаем футер, чтобы статья под него не попадала
  &__list {
    padding-bottom: 180px;
  }

  &__date {
    color        : $date-color;
    font-family  : Roboto;
    font-size    : 16px;
    font-weight  : 400;
    margin-bottom: 20px;
  }
  
  &__content {
    color      : $blog-color;
    font-family: Roboto;
    font-size  : 16px;
    font-weight: 400;
    & p {
      margin-bottom: 10px;
    }
  }

  &__item {
    padding-bottom: 60px;
    padding-top   : 60px;
    border-bottom : 5px solid rgba(#373e42, 0.07);
    
    @include desktops1100 {
      padding-bottom: 50px;
      padding-top   : 50px;
    }

    @include tablets730 {
      padding-bottom: 25px;
      padding-top   : 25px;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      @include desktops1100 {
        padding-bottom: 90px;
      }

      @include tablets730 {
        padding-bottom: 150px;
      }

      @include phones570 {
        padding-bottom: 180px;
      }
    }
  }
}

