.auth {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  perspective: 1000;
}

.auth__user.user {
  color: inherit;
}

.auth__container {
  flex: 1;
  position: relative;
}

.auth__socials {
  display: flex;
  justify-content: center;
}

.auth__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
}

.auth__btn {
  position: absolute;
  right: 20px;
  top: 25px;
}

.auth__footer {
  height: 45px;
  text-align: center;
  color: #ffffff;
}

.auth__forms-container {
  position: relative;
  width: 100%;
}

.auth__form-item {
  width: 100%;
}

.auth__form-face,
.auth__form-back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .modal-form {
    backface-visibility: hidden;
    transition: 1s;
  }
}

.auth__form {
  &.active {
    .auth__form-face .modal-form {
      transform: rotateY(180deg);
    }
    .auth__form-back .modal-form {
      transform: rotateY(0deg);
    }
  }
}

.auth__form-face .modal-form {
  transform: rotateY(0deg);
}

.auth__form-back .modal-form {
  transform: rotateY(-180deg);
}