.backface-container {
  position: relative;
  perspective: 1000px;
}

.backface {
  width: 380px;
  height: 450px;
  padding-top: 40px;
  position       : relative;
  transform-style: preserve-3d;
  transition     : 0.5s;
}

.front {
  z-index: 10;
}

.back {
  background-color: rgba(#1c1f29, 0.5);
  padding-top: 40px;
  transform: rotateY(180deg);
}
