.bigstars {
  z-index: 0;
}

.bigstars__icon {
  width : 460px;
  height: 270px;
  // fill          : #6D2885;
  // stroke        : #286F85;
  // stroke-width  : 1;
  // fill-opacity  : 0.7;
  // stroke-opacity: 0.8;
}