.blog {
  display         : flex;
  background-color: $bgblog;
  margin-top      : -20vh;

  &__left {
    width          : 20%;
    display        : flex;
    flex-direction : row;
    justify-content: flex-end;
    margin-right   : 100px;
    padding-top    : 70px;
    
    @include desktops880 {
      margin-right   : 30px;
    }
  
    @include tablets {
      width: 0;
    }

    // @include tablets {
    //   background-color: #253468;
    //   width: 295px;
    //   color: #fff;
    //   font-weight: 400;
    // }

    &-content {
      width: 280px;
    }
  }

  &__right {
    padding-top: 70px;

    &-content {
      max-width        : 910px;
      width: 95%;
      padding-left : 20px;
      padding-right: 20px;

      @include desktops1200 {
        max-width: 700px;
      }
    }
  }
}


