.contacts {
  background-color: #ffffff;
  opacity         : 0.7;
  padding-top     : 20px;
  padding-left    : 15px;
  margin-right    : 10px;
  
  &__data {
    margin-top: -10px;
    font-style: normal;
  }
  
  &__list {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    align-items   : center;
  }

  &__item {
    width: 50%;
    // display: inline-block;
    display    : flex;
    align-items: center;
    margin-top : 15px;
  }

  &__icon {
    margin-right: 10px;

    &-img {
      width : 45px;
      height: 45px;
      fill  : #004cd1;
    }
  }
}

