.contacts {
  width: 380px;
  background: rgba(#fff, .85);
  border-radius: 5px;
  padding: 35px 40px;
}

.contacts__title {
  text-align: center;
  margin-bottom: 40px;
}

.contacts__content {
  font-size: 16px;
  font-weight: 500;
}

.contacts__item {
  display: flex;
  margin-bottom: 25px;
}

.contacts__icon {
  width: 26px;
  height: 26px;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;

  &_skype {
    background-image: svg-load('skype.svg', fill=$green);
  }

  &_envelope {
    background-image: svg-load('envelope.svg', fill=$green);
  }

  &_phone {
    background-image: svg-load('phone.svg', fill=$green);
  }
}