.contacts {
  background-color: rgba(#ffffff, 0.7);
  // opacity         : 0.7;
  padding: 20px 15px;
  
  &__data {
    margin-top: -10px;
    font-style: normal;
  }
  
  &__list {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    align-items   : center;
  }

  &__item {
    width: 50%;
    display    : flex;
    align-items: center;
    margin-top : 15px;

    @include desktops880 {
      width: 100%;
    }
  }

  &__icon {
    margin-right: 10px;

    &-img {
      width : 45px;
      height: 45px;
      fill  : #004cd1;
    }
  }
}

