.down-arrow {
  opacity: .7;
  transition: .3s;
  background: svg-load('arrow_down.svg', fill=#fff) center center no-repeat;
  width: 50px;
  height: 50px;
  border: none;
  position: relative;

  &:hover {
    opacity: 1;
  }
}