.footer {
  position        : absolute;
  bottom          : 0;
  display         : block;
  background-color: rgba($bgwelcome, 0.85);
  color           : #ffffff;
  font-family     : Roboto;
  font-size       : 16px;
  font-weight     : 300;
  line-height     : 24px;
  width           : 100%;

  @include desktops1100 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__content {
    display       : flex;
    flex-direction: row;
    flex-wrap: wrap;
    width         : 100%;
    margin        : 20px;

    @include desktops1100 {
      margin: 0;
      margin-bottom: 20px;
    }
  }
  
  &__info {
    width       : calc(100%/3);
    border-right: 2px solid rgba(#fff, 0.2);

    @include desktops1300 {
      width: 30%;
    }

    @include desktops1100 {
      width: 100%;
      text-align: center;
      padding-bottom: 18px;
      border-right: 0;
      border-bottom: 2px solid rgba(#fff, 0.2);
    }
  }
  
  &__nav {
    width       : calc(100%/3);
    border-right: 2px solid rgba(#fff, 0.2);
    padding-left: 30px;
    font-weight: 500;

    @include desktops1300 {
      width: 45%;
    }
    
    @include desktops1100 {
      width: 60%;
      border-right: 0;
      padding-left: 0;
      padding-top: 18px;
    }

    @include tablets730 {
      width: 100%;
      text-align: center;
      border-bottom: 2px solid rgba(#fff, 0.2);
    }
  }
  
  &__contacts {
    width       : calc(100%/3);
    padding-left: 20px;

    @include desktops1300 {
      width: 25%;
    }
    
    @include desktops1100 {
      width: 40%;
      text-align: right;
      padding-left: 0;
      padding-top: 18px;
    }

    @include tablets730 {
      text-align: center;
      width: 100%;
    }

  }
}
