.form-control {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
  &_radio {
    .form-control__appearence {
      border-radius: 50%;
      &:before {
        position: absolute;
        width: 8px;
        height: 8px;
        background: $green;
        border-radius: 50%;
        opacity: 0;
        transition: .3s;
      }
    }
    .form-control__element:checked+.form-control__appearence {
      background: #fff;
      border: 1px solid #cecfcf;
      &:before {
        opacity: 1;
      }
    }
  }
}

.form-control__element {
  position: absolute;
  top: 0;
  left: -9999px;
}

.form-control__appearence {
  width: 20px;
  height: 20px;
  border: 1px solid #cecfcf;
  border-radius: 3px;
  background: #fff;
  margin-right: 10px;
  position: relative;
  transition: 0.3s;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: svg-load("check.svg", fill=#fff) center center / contain no-repeat;
    width: 11px;
    height: 9px;
  }
}

.form-control__text  {
  transition: .3s;
}

.form-control__element:checked {
  &+.form-control__appearence {
    border: 1px solid $green;
    background: $green;
    &+.form-control__text {
      color: $green;
    }
  }
}