.hero {
  background-color   : $bgcolor;
  background-image   : url(assets/images/mountains-min.png);
  background-size    : 100% auto;
  background-position: bottom;
  background-repeat  : no-repeat;
}

.hero__links {
  position: absolute;
  left    : 3%;
  top     : 3%;
}

.hero__menu {
  position: absolute;
  right   : 5%;
  top     : 3%;
}

.hero__title {
  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hero__down-btn {
  position: absolute;
  bottom  : 10%;
  left    : 49%;
}