.iconed-button {
  padding: 12px 15px;
  background: $green;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
}

.iconed-button__icon {
  display: inline-block;
  vertical-align: middle;
}

.iconed-button__text {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
