.map {
  width: 100%;
  min-height: 100vh;
  background-image   : url(assets/images/content/map.jpg);
  background-size    : cover;
  background-position: center center;
  background-repeat  : no-repeat;

}
