.modal-form {
  border-radius: 10px 10px 0 0;
  background: rgba(#fff, .85);
  position: relative;
  padding: 20px;

  &_blured {
    .modal-form__bg {
      background-image: url('/assets/images/bg/reviews.jpg');
      background-repeat: no-repeat;
      background-position: center 0;
      border-radius: 10px 10px 0 0;
    }
  }
}

.modal-form__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(10px);
}

.modal-form__title {
  text-align: center;
  margin-bottom: 38px;
}

.modal-form__controlls-title {
  font-weight: 600;
  margin-bottom: 8px;
}

.modal-form__container {
  position: relative;
}

.modal-form__row {
  margin-bottom: 20px;
}

.modal-form__input {
  display: block;
  border-radius: 5px;
  border: 0 none;
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 20px;

  &_textarea {
    height: 140px;
    resize: vertical;
  }
}

.modal-form__buttons {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.modal-form__button {
  flex: 1;
  padding: 15px;
  background: $green;
  color: #fff;
  transition: .3s;
  font-weight: 600;
  border-right: 2px solid #82cfc9;
  white-space: nowrap;
  
  &:hover {
    background: #268b8a;
  }

  &:last-child {
    border: none;
  }
}

.modal-form__controlls {
  text-align: center;
}