.nav__list {
  display: flex;

  @include tablets730 {
    justify-content: center;
  }
}

.nav__item {

  &--welcome {
    height          : 45px;
    width           : calc(100%/3);
    border-right    : 2px solid rgba(#dee3e7, 0.5);
    background-color: $light-blue;
    font-family     : Roboto;
    font-size       : 16px;
    font-weight     : 500;
    line-height     : 45px;
    
    &:last-child {
      border-right: none;
    }
    
    &:hover {
      background-color: $dark-blue;
    } 
  }
  
  &--about {
    margin-right : 30px;
    margin-bottom: 20px;

    @include phones450 {
      margin-right : 8px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
    
}


.nav__link {
  display        : block;
  width          : 100%;
  text-decoration: none;
  color          : #fff;

  &--about {
    &:hover {
      text-decoration: underline;
    }
  }
}
