.parallax {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(139, 182, 188);
  background: -webkit-linear-gradient( top, rgba(139, 182, 188, 1) 0%, rgba(205, 210, 203, 1) 10%, rgba(205, 210, 203, 1) 100%);
  background: linear-gradient( to bottom, rgba(139, 182, 188, 1) 0%, rgba(205, 210, 203, 1) 10%, rgba(205, 210, 203, 1) 100%);
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:nth-child(1) {
    .parallax__image {
      transform: translate(-24%, -79%);
    }
  }
  
  &:nth-child(2) {
    .parallax__image {
      transform: translate(-29%, -62%);
    }
  }
  &:nth-child(3) {
    .parallax__image {
      transform: translate(111%, -197%);
    }
  }
  &:nth-child(4) {
    .parallax__image {
      transform: translate(-52%, -29%);
    }
  }
  &:nth-child(5) {
    .parallax__image {
      transform: translate(-47%, -34%);
    }
  }
  &:nth-child(6) {
    .parallax__image {
      transform: translate(-19%, -119%);
    }
  }
  &:nth-child(7) {
    .parallax__image {
      transform: translate(-52%, 0%);
    }
  }
  &:nth-child(8) {
    .parallax__image {
      transform: translate(-36%, -37%);
    }
  }
  &:nth-child(9) {
    .parallax__image {
      transform: translate(-69%, -26%);
    }
  }
}

.parallax__image {
  position: absolute;
  top: 50%;
  left: 50%;
}