.reviews {
  position: relative;
  padding-bottom: 200px;
  background: url('/assets/images/bg/reviews.jpg') center 0 no-repeat;
}

.reviews__bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.reviews_container {
  width: 80%;
  position: relative;
}

.reviews__form-container {
  width: 50%;
  max-width: 380px;
  min-width: 310px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.reviews__title {
  text-align: center;
  margin-bottom: 40px;
}

.reviews__author {
  display: flex;
  align-items: center; 
}

.reviews__avatar {
  margin-right: 23px;
}

.reviews__avatar-image {
  width: 100%;
  height: 100%;
}

.reviews__avatar-pic {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews__author-data {
  color: $green;
}

.reviews__name {
  font-weight: 600;
}

.reviews__list {
  display: flex;
}

.reviews__item {
  padding: 0 12px;

  &:before {
    font-family: "FontAwesome";
    content: '\f10d';
    color: #d5d7d8;
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
  }
}

.reviews__list {
  margin-bottom: 70px;
}