.section-title {
  position: relative;
}

.section-title__triangles {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
}

.section-title__head {
  text-align: center;
  background: #faf8f0;
}