.skills-row {

  &__title {
    // color: #474b57;
    font-family  : Roboto;
    font-size    : 28px;
    font-weight  : 500;
    margin-bottom: 20px;
  }
  
  &__list {
    display      : flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  &__item {
    margin-right: 40px;
    margin-bottom: 20px;

    @include desktops1300 {
      margin-right: 28px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
