.skill {
  width: 100px;
  height: 100px;
  position: relative;
  vertical-align: middle;
}


.skill__figure {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.skill__circle {
  width: 100%;
  height: 100%;
  position: absolute;
  fill: transparent;
  stroke-width: 15;
  &_under {
    stroke: $light-grey;
  }
  &_above {
    stroke: $green;
  }
}

.skill__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: $green;
  text-align: center;
}

.skill__circle_above {
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
  transform: rotate(-90deg);
  transform-origin: center;
}