.socials {
  display: flex;
  &_rounded {
    .socials__item {
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
    }
    .socials__link {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      border: 1px solid rgba(#fff, .5);
      
      &:hover {
        background-color: #fff;
      }
      &_fb:hover {
        background-image: inline-svg('vk', #373e42);
      }
      &_gh:hover {
        background-image: inline-svg('github', #373e42);
      }
      &_in:hover {
        background-image: inline-svg('in', #373e42);
      }
    }
  }
}

.socials__link {
  width: 40px;
  height: 27px;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  opacity: .5;
  transition: .3s;
  &:hover {
    opacity: 1;
  }
  &_fb {
    background-image: inline-svg('vk', #fff);
  }
  &_gh {
    background-image: inline-svg('github', #fff);
  }
  &_in {
    background-image: inline-svg('in', #fff);
  }
}