.social__list--welcome {
  margin-bottom: 40px;
}

.social__item {
  display: inline-block;
}

.social__icon {
  width : 30px;
  height: 20px;
  fill  : rgba($light-blue, 0.7);
  &:hover {
    fill: $light-blue;
  }
}