.social__list--welcome {
  margin-bottom: 40px;
}

.social__item {
  display     : inline-block;
  font-size   : 0;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  width : 30px;
  height: 20px;
  fill  : rgba($light-blue, 0.7);
  &:hover {
    fill: $light-blue;
  }
}

.social__icon--white {
  fill: #fff;
}

.social__icon--grey {
  fill: rgba(#fff, 0.5);
}