.title {
  display: inline-block;
  position: relative;
  padding: 45px 70px;
  font-family: 'bernier', Times, serif;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 5px;
    background: rgba($grey, .2);
  }
  $margin: 35px;
  &:before {
    left: $margin;
  }
  &:after {
    right: $margin;
  }
}


.title__img {
  fill: #6d7070;
  opacity: .07;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.title__text {
  color: $grey;
  font-size: 63px;
  text-align: center;
}