.welcome {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color   : $bgcolor;
  // background-image   : url(assets/images/bg/mountains-min.png);
  // background-size    : 100% auto;
  // background-position: bottom;
  // background-repeat  : no-repeat;

  &__authorize {
    position: absolute;
    top     : 5%;
    right   : 10%;
  }
}
