.welcome {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color   : $bgcolor;
  // background-image   : url(assets/images/bg/mountains-min.png);
  // background-size    : 100% auto;
  // background-position: bottom;
  // background-repeat  : no-repeat;

  &__authorize {
    position: absolute;
    top     : 5%;
    right   : 10%;
    
    @include desktops1300 {
      right: 40px;
    }

    @include phones570 {
      left     : 50%;
      right: initial;
      transform: translateX(-50%);
    }
  }
}
