.welcome-page {
  overflow: hidden;
  min-height: 100%;
  position: relative;

  background-color   : $bgcolor;
  background-image   : url(assets/images/bg/mountains-min.png);
  background-size    : 100% auto;
  background-position: bottom;
  background-repeat  : no-repeat;

  &__authorize {
    position: absolute;
    top     : 5%;
    right   : 10%;
  }
  
  &__board {
    // display    : none;
    width      : 380px;
    padding-top: 40px;
    @include block-center-absolute
  }
}
