.works {
  // min-height    : 120vh;
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;

  &__title {
    width           : 100%;
    height          : 160px;
    text-align      : center;
    text-transform  : uppercase;
    color           : #ffffff;
    font-family     : Sansus;
    font-size       : 63px;
    font-weight     : 400;
    background-color: rgba(#0d1120, 0.85);
    line-height     : 160px;
  }

  &__left {
    width           : 50%;
    background-color: $bgabout-left;
    display         : flex;
    justify-content : center;
    align-items     : center
  }
  
  &__right {
    width           : 50%;
    background-color: $bgworks-right;
  }
}

